body  {
    font-family: 'Urbanist', sans-serif;
    color: white;
    background-color: black;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.sectionheader {
    text-align: center;
    
}

.sectionheader2 {
    text-align: center;
    margin-bottom: 200px;
    font-size: 32px;
    margin-top: 200px;
}

.sectionheader3 {
    font-size: 56px;
    background: -webkit-linear-gradient(90deg, rgba(78,75,228,1) 24%, rgba(232,98,254,1) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.benefitsleft {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
}

.benefitsleft1 {
    font-size: 56px;

}

.benefitsright {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 150px;
}

.benefitsbox {
    background-color: #181924;
    border-radius: 33px;
    padding: 32px;
    
}

.benefitsbox2 {
    font-size: 24px;
}

.benefitsbox3 {
    font-size: 16px;
}

.mainheader {
    font-size: 80px;
    background: -webkit-linear-gradient(90deg, rgba(78,75,228,1) 24%, rgba(232,98,254,1) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.mainheader2 {
    font-size: 24px;
    color: #FF3BFF;
}

.proactive {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column {
    display: flex;
    background-color: #181924;
    border-radius: 33px;
    flex-direction: column;
    padding: 50px;
}


.plans {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.plan2 {
    background-color: #181924;
    border-radius: 33px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 48px;
    padding-bottom: 48px;
    justify-content: center;
}

.benefits {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #4F4CE5; 
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}

.startup {
    font-size: 40px;
    background: -webkit-linear-gradient(90deg, rgba(78,75,228,1) 24%, rgba(232,98,254,1) 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.plan3 {
    font-size: 24px;
    text-align: center;
}

.button2 {
    font-size: 12px;
    background-color: #4F4CE5; 
    border: none;
    color: white;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
}

.testimonial2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Testimonial3 {
    background-color: #181924;
    border-radius: 30px;
    padding: 32px;
}

.testimonial4 {
    display: flex;

}

.sectionheader4 {
    font-size: 56px;
    color: white;
    text-align: center;
}

.testimonialright {
    display: flex;
    flex-direction: column;
}